:root {
  --primary-100-color: #7678ed;
  --primary-dark-color: #303de6;
  --primary-80-color: #9193f1;
  --primary-60-color: #adaef4;
  --primary-40-color: #c8c9f8;
  --primary-20-color: #e4e4fb;
  --primary-AAA-color: #7678ed;

  --secondary-100-color: #edae8e;
  --secondary-dark-color: #6e6663;
  --secondary-80-color: #f1bea5;
  --secondary-60-color: #f4cebb;
  --secondary-40-color: #f8dfd2;
  --secondary-20-color: #fbefe8;
  --secondary-AAA-color: #fae9e0;

  --warning-default-color: #f6a609;
  --warning-darker-color: #e89806;
  --warning-light-color: #ffbc1f;

  --positive-default-color: #2ac769;
  --positive-darker-color: #1ab759;
  --positive-light-color: #40dd7f;

  --warning-default-color: #fb4e4e;
  --warning-darker-color: #e93c3c;
  --warning-light-color: #ff6262;
}
